@import 'tailwindcss';

@theme {
    --color-verde-100: #acef75;
    --color-verde-200: #91ee77;
    --color-verde-300: #17e880;
    --color-verde-500: #2e482c;
    --color-verde-600: #16281f;
    --color-verde-800: #0f1c15;
    --color-verde-900: #030504;

    --font-sans: 'DM Sans', 'system-ui', 'sans-serif';
    --font-serif: 'DM Serif Text', 'Georgia', 'serif';
}